@import url(https://fonts.googleapis.com/css?family=Leckerli+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Josefin+Sans:400,600,700,400italic,600italic);

body {
    background: #ffffff;
    background: url(https://subtlepatterns.com/patterns/use_your_illusion.png);
	background-attachment: fixed;
	font-weight: 400;
	font-size: 1,5em;
    font-family: 'Raleway', Arial, sans-serif;
    overflow-x: hidden;
}

#header {
    background-image: url("Image/architecure.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    box-shadow: 10px 10px 8px #2c2b2b;
    border-radius: 0 0 85% 85% / 30%;
    overflow: hidden;
}

#header h1 {
    font-family: montserrat;
    margin-top: 45px;
    text-align: center;
    font-size: 60px
}

#header .title { 
    letter-spacing: .3em; 
    text-transform: uppercase; 
}

#header .text-light { 
    color: #fff ;
}
#header .font-2 {
	font-family: 'josefin sans';
	font-weight: 700;
}

#header h3 {
    font-family: 'georgia';
    font-style: italic;
    color: rgb(75, 75, 75);
    margin-top: 238px;
}

#header h2 { 
    margin: 0; 
    font-family: 'Leckerli One', cursive;
    text-shadow: 0 2px rgba(0,0,0,.5);
    font-size: 100px;
    text-align: center;
    
    margin-top: 1cm;
  }

#sidebar{
    margin-left: 8px;
    background: rgba(255, 255, 255, 0.65);
    height: 556px;
    margin-top: 30px;
}

#search-box label {
    font-family: 'georgia';
    font-style: italic;
    margin-top: 3px;
}

#search-field {
    margin-top: 5px;
}

#list-elements {
    overflow-y: scroll;
    height: 430px;  
}

.list-element {
    background: white;
    border: none;
    padding: 3px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    font-weight: bold;
	font-size: 14px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-element:hover{
	background-color: rgb(148, 148, 148);
}

#info-icon {
    float: right;
    margin-top: 8px;
}

#content {
    background: #e7ecea;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.65);
}

#footer {
    background: #313131;
    height: 70px;
}

#footer p{
    color: #FFF;
    font-family: 'georgia';
    font-style: italic;
}

select {
    display: block;
    margin: 0 auto;
    width: 400px;
}

#select_process {
    width: 400px;
}

#select-wrapper label {
    color: white;
}

#content .tab-content {
    height: 510px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.75);
}

#filter{
    color: rgb(0, 0, 0);
}

#collapseTwo label {
    font-family: 'georgia';
    font-style: italic;
    font-weight: bold;
}

#content .tab-content .card {
    margin-top: 10px;
    margin-bottom: 10px;
}

thead {
    background-color: rgb(73, 73, 73);
}

th {
    color: white;
}

td {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}

.content-wrapper {
    background-image: url("Image/planing4.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

#galery-img {
    margin-top: 20px;
}

#content .tab-content #procces th{
    color: black;
}

#content .tab-content #procces tr{
    height: 50px;
}

#content .tab-content #procces #process-card img {
    margin-top: 15px;
}

#process-card .card-title {
    font-style: italic;
    font-family: 'georgia';
}

#content .tab-content #procces .card h3{
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
}

#placeholder {
    font-family: 'georgia';
    font-style: italic;
    margin-top: 3px;

    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#copyright {
    font-family: Brush Script MT, cursive;
    color: white;
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
  .scroll-down {
    position: absolute;
    margin-top: 50px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  
  .scroll-down:before {
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 6px);
      transform: rotate(-45deg);
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      border: 2px solid white;
      border-width: 0px 0 2px 2px;
  }
  
  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

  #textSpan {
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:rgb(255, 255, 255);
	font-size:12px Arial;
}