body {
	background: #e7ecea;
	color: #74777b;
	font-weight: 400;
	font-size: 1,5em;
    font-family: 'Raleway', Arial, sans-serif;
    overflow-x: hidden;
}

#header {
    background-image: url("Image/town_by_night.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    margin-right: 5px;
    margin-left: 5px;
}

#header h1 {
    font-size: 5em;
    color:white;
}

#header h3 span{
    background-color: white;
}

#sidebar{
    margin-left: 5px;
    background: #202221;
    height: 500px;
}

#content {
    margin-right: 5px;
}

#footer {
    margin-left: 5px;
    margin-right: 5px;
    background: #1b1d27;
    height: 200px;
}

select {
    display: block;
    margin: 0 auto;
    width: 400px;
}

#select_process {
    width: 400px;
}

#select-wrapper label {
    color: white;
}

#content .tab-content {
    height: 475px;
    overflow-x: scroll;
	background-color: white;
}