body {
	background: #e7ecea;
	color: #74777b;
	font-weight: 400;
	font-size: 1,5em;
	font-family: 'Raleway', Arial, sans-serif;
}

#select_process {
    width: 400px;
}

select {
    display: block;
    margin: 0 auto;
    width: 400px;
}

#header {
    background-image: url("Image/musterstadt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 350px;
}

#header h3 span{
    background-color: white;
}

#header h1 {
    font-size: 5em;
}

#content .tab-content {
    height: 500px;
	overflow-y: scroll;
	background-color: white;
}

#content .tab-header {
}